@model ChoXe.Models.ResetPasswordViewModel
@{
    ViewBag.Title = "Đặt lại mật khẩu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <link rel="stylesheet" href="~/Content/bootstrap-theme.min.css">
    <style>
        .container-wrap {
            min-height: 430px;
            padding-top: 40px;
            padding-bottom: 40px;
        }

        .text-danger {
            color: red;
        }

        .btn-block {
            background: #81CDB9;
            color: #fff;
        }

            .btn-block:hover {
                color: #FEB6B2;
            }
            .input-group{
                margin-bottom: 10px;
            }
    </style>

}



<div class="container-wrap">
    <div class="container">
        <div class="row">
            <div class="row">
                <div class="col-md-4 col-md-offset-4">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="text-center">
                                <h2 class="text-center">Đặt lại mật khẩu?</h2>
                                <div class="panel-body">

                                    @using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                                    {
                                        @Html.AntiForgeryToken()
                                        @Html.HiddenFor(model => model.Code)
                                        <fieldset>
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <span class="input-group-addon"><i class="fa fa-envelope color-blue"></i></span>
                                                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" , placeholder="Nhập Email"})
                                                </div>
                                                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                                                <div class="input-group">
                                                    <span class="input-group-addon"><i class="fa fa-key color-blue"></i></span>
                                                    @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Nhập mật khẩu" })
                                                </div>
                                                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                                                <div class="input-group">
                                                    <span class="input-group-addon"><i class="fa fa-key color-blue"></i></span>
                                                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = "Nhập lại mật khẩu" })
                                                </div>
                                                @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                                            </div>
                                            <div class="form-group">
                                                <input class="btn btn-block btn-lg" value="Đặt lại mật khẩu" type="submit">
                                            </div>
                                        </fieldset>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
, 